class Scratch {
    public static void main(String[] args) {

        boolean fimDeSemana = true;
        boolean fazendoSol = true;
        boolean vamosAPraia = fimDeSemana && fazendoSol;

        // Tabela verdade
        // Operador && (AND)
        // true && true = true
        // true && flase = false
        // false && true = false
        // false && false = false

        //operador | | (or)
        // true || true = true
        // true || false = false
        // true || false = false
        // false || false = false


        System.out.println(vamosAPraia);
